
body{
  background-color: rgb(14, 14, 14);
}
#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*NavBar*/
.nav-bar-container{
  width: 100%;
  background-color: black;
  border-radius: 5px;
}
.nav-bar-container .navbar .container-fluid .navbar-brand h2{
  color: blueviolet;
}
/*MAIN*/
.main-container{
  display: flex;
  margin-top: 1%;
}
/*biblioteca*/
.biblioteca-container{
  width: 25%;
  background-color: black;
  height: 87vh;
  border-radius: 5px;
  color: white;
}
.biblioteca-container .biblioteca-titulo-container{
  display: flex;
  justify-content: space-around;
  
  margin-top: 30px;
  margin-bottom: 30px;
}
.biblioteca-container .biblioteca-titulo-container .boton-agregar{
  border: none;
  background: none;
}
.biblioteca-container .biblioteca-titulo-container .boton-agregar img{
  max-width: 20px;
}
.biblioteca-container .lista-container{
  display: flex;
  flex-direction: column;

}
.biblioteca-container .lista-container hr{
  margin-top: 10%;
}
/*reproductor*/
.reproductor-container{
  width: 75%;
  background-color: black;
  margin-left: 1%;
  border-radius: 5px;
  height: 87vh;
  overflow-y: scroll;
}

.reproductor-container::-webkit-scrollbar{
  display: none;
}
/*****************/

.reproductor-container .fila-card-container div{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.reproductor-container .fila-card-container .fila-title-container{
  padding-left: 1%;
  padding-right: 1%;

}
.reproductor-container .fila-card-container .fila-title-container h3{
  color: white;
}
.reproductor-container .fila-card-container .fila-title-container .boton-mostrar{
  color: white;
}

/*****************/
.artist-card{
  max-width: 250px;
  min-width: 132.23px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  object-fit: scale-down;
  border-radius: 5px;
  background-color: black;
  align-items: center;
  color: white;
  z-index: 0;
  position: relative;
}
.artist-card:hover .artist-card-link{
  display: block;
}
.artist-card img{
  aspect-ratio: 1/1;
  border-radius: 100%;
  width: 80%;
  margin-top: 4%;
}
.artist-card .artist-card-link{
  display: none;
  position: absolute;
  margin-top: 50px;
  border: none;
  object-fit: scale-down;
  background: none;
}
.artist-card .artist-card-link img{
  
  max-width: 70px;
  z-index: 1;
  margin: 0;
}

.artist-card h4{
  width: 80%;
 text-align: left;
 margin-bottom: 0%;
}
.artist-card p{
  text-align: left;
  width: 80%;
  margin-top: 0%;

}

/********************/

.generic-card{
  max-width: 250px;
  min-width: 132.23px;
  display: flex;
  flex-direction: column;
  object-fit: scale-down;
  border-radius: 5px;
  background-color: black;
  align-items: center;
  color: white;
  z-index: 0;
  position: relative;

}

.generic-card img{
  aspect-ratio: 1/1;
  border-radius: 5px;
  width: 90%;
  margin-top: 4%;
  
}
.generic-card:hover .generic-card-link{
  display: block;
}
.generic-card .generic-card-link{
  display: none;
  position: absolute;
  margin-top: 50px;
  border: none;
  object-fit: scale-down;
  background: none;
}
.generic-card .generic-card-link img{
  max-width: 70px;
  
  z-index: 1;
  margin: 0;

}

.generic-card h4{
  width: 80%;
 text-align: left;
 margin-bottom: 0%;
}
.generic-card p{
  text-align: left;
  width: 80%;
  margin-top: 0%;

}
/**********/
.reproductor-container .img-album{
  margin-left: -30%;
  margin-top: 5%;
  position: absolute;
  z-index: 0;
  border-radius: 5px;
  width: 200px;
}
.reproductor-container .banner-container{
  height: 40%;
  text-align:left;
  padding-top: 15%;
  padding-left: 5%;
  z-index: 1;
  position: relative;
  color: white;
}

.reproductor-container .tracks-container{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.966);
  z-index: 1;
  position: relative;
  text-align: left;
  padding-left: 5%;
  color: white;
}
.reproductor-container .tracks-container .pista-container img{
  max-width: 80px;
}
.reproductor-container .tracks-container .pista-container{
  display: flex;
  margin-bottom: 1%;
}
.reproductor-container .tracks-container .pista-container .info-cancion{
  margin-left: 5%;
  
}
.reproductor-container .tracks-container .button-play-music{
    object-fit: cover;
    max-width: 100px;
    background: none;
    border: none;
}
.reproductor-container .tracks-container .button-play-music img{
  width: 100%;
}
/* Session*/

.form-container{
  width: 50%;
  margin: 0 auto;
  background-color: black;
  padding: 5%;
  
  color: blueviolet;
}
.form-container .mb-3{
  text-align: left;
}
.form-container p{
  color: red;
}

/*queries*/
@media  (max-width: 1093px) {
  .biblioteca-container{
    display: none;
  }
  .reproductor-container{
    width: 100%;
  }
}
@media  (max-width: 774px) {
  .nav-bar-container .navbar .container-fluid .credenciales-buttons{
    display: none !important;
  }
}